@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');
@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-light');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root{
  --orange: #E18C1D;
  --yellow: #EDBF37;
  --green: #51941E;
  --blue: #13106D;
  --purple: #5F449E;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  background-color: black;
  user-select: none;
}
div{
  /* border: 1px solid white; */
}

#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#container{
  aspect-ratio: 4 / 3;
  background-color: black;
}
#top{
  height:67%;
  width: 100%;
  display: flex;
}
#logoContainer{
  height: 100%;
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo{
  height: 100%;
}

#gameConsole{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
}
#lifelinesContainer{
  height: 17%;
  width: 100%;
  display: flex;
}
#roundsContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.round{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 20px;
}
.round > span{
  color: var(--orange);
  font-size: 20px;
  /* font-family: 'Alegreya SC', serif; */
  /* font-family: 'Balthazar', serif; */
  font-family: 'Copperplate Gothic Light', sans-serif;
}
.milestone > span{
  color: white;
}
.roundNumber{
  width: 30px;
  text-align: right;
}
.round .rhombus{
  font-size: 14px;
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.round .prize{
  margin-left: 10px;
}
.round .completed{
  color: white;
}

#currentRound{
  background-color: var(--orange);
}
#currentRound > span{
  background-color: var(--orange);
}
#currentRound > .roundNumber{
  color: white;
}
#currentRound > .prize{
  color: black;
  position: absolute;
  margin-left: 62px;
}
#currentRound > .rhombus{
  color: var(--orange);
}
#currentRound > .completed{
  animation: appear 1.5s;
  color: white;
  background-color: transparent;
  position: absolute;
  margin-left: 34px;
  z-index: 2;
}

@keyframes appear {
  0% {font-size: 120px;}
  100%  {font-size: 14px;}
}

#bottom{
  height: 33%;
  width: 100%;
  font-size: 30px;
  /* position: relative; */
}

#questionContainer{
  height: 50%;
  width: 100%;
  position: relative;
  padding: 20px 0px;
  overflow: hidden;
  /* display: flex; */
}

#questionBorder{
  width: 100%;
  height: 80%;
  background-color: var(--purple);
  position: absolute;
  clip-path: polygon(0 49%, 4% 49%, 10% 0, 90% 0, 96% 49%, 100% 49%, 100% 51%, 96% 51%, 90% 100%, 10% 100%, 4% 51%, 0 51%);
}

#question{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
  text-align: center;
  /* margin: 20px 0px; */
  /* background-color: aqua; */
  position: absolute;
  clip-path: polygon(4.5% 50%, 10.2% 3%, 89.8% 3%, 95.5% 50%, 89.8% 97%, 10.2% 97%);
}

#answersContainer{
  height:50%;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}

.answerBox{
  width: 50%;
  position: relative;
}

.answerBorder{
  position: absolute;
  height: 90%;
  width: 100%;
  background-color: var(--purple);
  clip-path: polygon(0 49%, 4% 49%, 10% 0, 90% 0, 96% 49%, 100% 49%, 100% 51%, 96% 51%, 90% 100%, 10% 100%, 4% 51%, 0 51%);
}

.answerContainer{
  /* width: 50%; */
  position: absolute;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 34px;
  padding-right: 38px;
  gap: 6px;
  clip-path: polygon(4.5% 50%, 10.2% 3%, 89.8% 3%, 95.5% 50%, 89.8% 97%, 10.2% 97%);
  cursor: pointer;
}

.letter, .rhombus{
  color: var(--orange);
}
.rhombus{
  font-size: 12px;
}
.long{
  font-size: 22px;
}
.verylong{
  font-size: 18px;
}

.answerContainer:hover{
  background-color: var(--yellow);
  color: black;
}
.answerContainer:hover * {
  background-color: var(--yellow);
  color: black;
}
.answerContainer:hover .letter, .answerContainer:hover .rhombus{
  color: white;
}


#selected, #selected * {
  background-color: var(--orange);
  color: black;
}
#selected .letter, #selected .rhombus{
  color: white;
}

#correct, #correct * {
  background-color: var(--green);
  color: black;
}
#correct .letter, #correct .rhombus{
  color: white;
}

